<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="/staff">Home</a></li>
    <li><a href="/categories/new">Create new category</a></li>
    <li><a href="/categories">View all categories</a></li>
    <li><a href="/responses">Student responses</a></li>
  </ul>
</div>