extends ../layout

block content
    .row
        .col-sm-3
            include ../partials/sidebar
        .col-sm-9
            .main
                h2 Recent Responses
                hr
                table.table.table-hover
                    thead
                        tr
                            th Name
                            th Description
                            th Number of responses
                            th
                    tbody
                        each student in students
                            tr
                                td= student.profile.name
                                td= student.email
                                td= student.responses.length
                                td
                                    a(href='/responses/#{student._id}', class='btn btn-small btn-primary') View Responses